<h1 mat-dialog-title>Agregar Marca</h1>
<div mat-dialog-content>
  <form
      [formGroup]="fgBrand"
      (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>
            Nombre
          </mat-label>
          <input matInput [formControl]="fgBrand.get('name')" required>
          <mat-error *ngIf="fgBrand.get('name').hasError('required')">
            El <strong>nombre</strong> es requerido
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col">
        <button
            id="close-modal"
            mat-raised-button
            [mat-dialog-close]="false"
            color="warn">
          Cancelar
        </button>
      </div>
      <div class="col d-flex justify-content-end">
        <button
            mat-raised-button
            [disabled]="fgBrand.invalid"
            color="primary"
            type="submit">
          Guardar
        </button>
      </div>

    </div>
  </form>

</div>
