<mat-card>
  <mat-card-title>
    Búsqueda de productos
  </mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xl-3">
          <mat-form-field appearance="outline">
            <mat-label>
              Tipo de búsqueda
            </mat-label>
            <mat-select [formControl]="fgSearch.get('code')" #optionSearch>
              <mat-option [value]="1">
                Código de barras
              </mat-option>
              <mat-option [value]="2">
                ID
              </mat-option>
              <mat-option [value]="3">
                Nombre
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-xl-6" *ngIf="optionSearch.value === 1 || optionSearch.value === 2">
          <mat-form-field appearance="outline">
            <mat-label>
              {{optionSearch.value == 1 ? 'Código de barras' : 'ID'}}
            </mat-label>
            <input
                type="text"
                matInput
                [formControl]="fgSearch.get('search')"
                [placeholder]="optionSearch.value == 1 ? '2394379823' : '10'">
            <button
                *ngIf="fgSearch.get('search').value"
                title="Limpiar campo de búsqueda"
                matSuffix
                type="button"
                mat-icon-button
                aria-label="Clear"
                (click)="clearInputSearch()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="col-xl-6" *ngIf="optionSearch.value === 3">
          <mat-form-field appearance="outline">
            <mat-label>
              Nombre del producto
            </mat-label>
            <input
                type="text"
                matInput
                [formControl]="fgSearch.get('search')"
                [matAutocomplete]="auto"
                placeholder="Caja de galletas">
            <button
                title="Limpiar campo de búsqueda"
                *ngIf="fgSearch.get('search').value"
                type="button"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="clearInputSearch()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions" [value]="option.name" (click)="onClickOption(option)">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
            <mat-hint *ngIf="filteredOptions.length === 0 && fgSearch.get('search').value">
              No se encontraron resultados
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="col-xl-3">
          <button
              *ngIf="optionSearch.value !== 3"
              mat-raised-button
              type="submit"
              #btnSubmit
              color="primary"
              [disabled]="!fgSearch.get('search').value">
            Agregar
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
