.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.container-fluid {
  padding-top: 1rem !important;
  background: #e5e4e2 !important;
}

.spacer {
  flex: 1 1 auto;
}

hr {
  margin-top: 1px;
  margin-bottom: 1px;
}
