<h1 mat-dialog-title>Cambiar contraseña</h1>
<div mat-dialog-content>
  <form [formGroup]="fgChangePassword" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label>
            Contraseña actual
          </mat-label>
          <input matInput formControlName="currentPassword" required type="password" autocomplete="off">
          <mat-error *ngIf="fgChangePassword.get('currentPassword').hasError('required')">
            La <strong>contraseña actual</strong> es requerida
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label>
            Contraseña nueva
          </mat-label>
          <input matInput formControlName="newPassword" required type="password" autocomplete="off">
          <mat-error *ngIf="fgChangePassword.get('newPassword').hasError('required')">
            La <strong>contraseña</strong> es requerida
          </mat-error>
          <mat-error *ngIf="fgChangePassword.get('newPassword').hasError('matchPassword')">
            Las contraseñas no coinciden
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label>
            Confirmar contraseña nueva
          </mat-label>
          <input matInput formControlName="confirmPassword" required type="password" autocomplete="off">
          <mat-error *ngIf="fgChangePassword.get('confirmPassword').hasError('required')">
            Es necesario confirmar la contraseña
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col">
        <button
            id="close-modal"
            mat-raised-button
            [mat-dialog-close]="undefined"
            color="warn">
          Cancelar
        </button>
      </div>
      <div class="col d-flex justify-content-end">
        <button
            [disabled]="fgChangePassword.invalid"
            mat-raised-button
            color="primary"
            type="submit">
          Guardar
        </button>
      </div>
    </div>
  </form>
</div>
